/* :root {
    box-sizing: border-box;
    font-size: 0.875rem;
    font-family: "Rubik", "sans-serif";
    --white: #ffffff;
    --green: #198754;
    --dark: #292a2b;
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --teal: #20c997;
    --cyan: #0dcaf0;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
    outline: 0 none;
} */

@import url('https://fonts.googleapis.com/css2?family=Antic&family=Comfortaa:wght@500;600&family=Kameron:wght@400;700&family=Pacifico&display=swap');

html {
    font-size: 0.785rem;
}

body {
    font-family: "Antic", "serif";
    height: 100vh;
    padding-top: 11.5rem;
}

/* Header */
.fa-bag-shopping {
    color: #222222;
    transform: rotate(25deg);
}

.logo {
    font-size: 1.9rem;
    color: #ffc107;
}

.fa-basket-shopping {
    color: #fefefe;
    opacity: 1;
    transition: all 0.2s ease;
}

.fa-basket-shopping:hover {
    color: #c61a27 !important;
    opacity: 0.9;
    transform: rotateZ(-30deg);
}

/* Modals */
button.close:focus {
    outline: none;
}

/* shopping cart animation */
@keyframes hrv-pulse {
    25% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    animation-name: hrv-pulse;
}

/* Headings */
h4,
h5.modal-title {
    font-family: "Comfortaa", cursive;
}

h5 {
    font-family: "Pacifico", cursive;
}

/* Product cards */
.card-deck .card {
    width: 100%;
    transition: all 0.2s ease;
}

.card-deck .card:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

/* Quantity Selectors */
.quantity {
    position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Responsive Design */
@media (min-width: 576px) {
    body {
        padding-top: 8.5rem;
    }

    .card-deck .card {
        max-width: 45%;
    }

    footer {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 5.5rem;
    }

    .card-deck .card {
        max-width: 30%;
    }

    footer {
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) {
    .card-deck .card {
        max-width: 22%;
    }
}

@media (min-width: 1400px) {
    .card-deck .card {
        max-width: 14%;
    }
}
